<mat-card class="intro-card">
  <mat-card-header>
    <h1>Introduction</h1>
  </mat-card-header>
  <hr>
  <img mat-card-image src="assets/devintro.png" alt="" class="intro-image">
  <mat-card-content>
    <p>
      In todays world web pressence and spp presence is must. No business can grow without pressence in app or web space but designing and maintaing apps and web is not a easy task now a days due to presence of multiple frameworks and libraries. You need help of expert and it is here we come into play. Welcome to SkyLab Tech. We are expert in building apps and websites using differen technologies present and coming up so that you must be using cutting age technologies for you web and app presence.
    </p>

    <p class="info-scroll"><i class="material-icons">arrow_downward</i>Scroll Down<i class="material-icons">arrow_downward</i></p>
  </mat-card-content>
</mat-card>
<mat-card class="tech-card">
  <mat-card-header>
    <h1>Technologies</h1>
  </mat-card-header>
  <hr>
  <mat-card-content>
    <div class="buttton-row">
      <a routerLink=".">
        <i matTooltip="Know more about Angular Front-end Framework by Google" class="devicon-angularjs-plain colored" matTooltipPosition="right">
          <span >Angular</span>
        </i>
      </a>
      <a matTooltip="Know more about React Front-end Framework by Facebook" routerLink=".">
        <i class="devicon-react-original colored">
          <span>&nbsp;React</span>
        </i>
      </a>
      <a matTooltip="Know more about Vue.js Front-end Framework by Evan" routerLink=".">
        <i class="devicon-vuejs-plain colored">
          <span>&nbsp;Vue.js</span>
        </i>
      </a>
      <a matTooltip="Know more about Node.js web application framework" routerLink=".">
        <i class="devicon-express-original colored">
          <span>Express</span>
        </i>
      </a>
      <a matTooltip="Build Native app using Javascript/ECMAScript" routerLink=".">
        <i class="devicon-react-original colored">
          <span class="react-native-text">React Native</span>
        </i>
      </a>
      <a matTooltip="Know more about Python web framework" routerLink=".">
        <i class="devicon-django-plain colored">
          <span>Django</span>
        </i>
      </a>
      <a matTooltip="Know more about Ruby web framework" routerLink=".">
        <i class="devicon-rails-plain colored">
          <span>Rails</span>
        </i>
      </a>
      <a matTooltip="Know more about Android Native app development" routerLink=".">
        <i class="devicon-android-plain colored">
          <span>Android</span>
        </i>
      </a>
      <a matTooltip="Build hybrid apps using javscript and cordova" routerLink="." class="ionic-image">
        <img src="assets/ionic.png" alt="" width="80" height="80">
        <span class="ionic-text">Ionic</span>
      </a>
      <a matTooltip="Know more about Elixir web framework" routerLink="." class="ionic-image">
        <img src="assets/phoenix.png" alt="" width="80" height="80">
        <span class="pheonix-text">Phoenix</span>
      </a>
    </div>
  </mat-card-content>
</mat-card>
